.card {
  --min-width: 340px;
  --min-height: 300px;

  background-color: orange;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;

  min-width: var(--min-width);
  min-height: var(--min-height);

  img {
    width: calc(var(--min-width) - 20px);
    height: calc(var(--min-height) - 20px);
    object-fit: cover;
  }
}